<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../../partials/head.ejs') %>
</head>
<body>
    <!-- entete de la page -->
    <header>
        <%- include ('../../partials/header.ejs') %>
    </header>
    
    <!-- le navbar de la page -->
    <nav>
        <%- include ('../../partials/nav.ejs') %>
    </nav>
    
    <!-- le contenu -->
    <main>
        <h3><%= title %></h3>
        
        <div>
            <article id="art2">
                <p>Êtes-vous sûr de vouloir supprimer le film suivant ?</p>

                
                <form action="/<%= data.id %>?_method=DELETE" method="POST">
                    <button type="submit">Oui, Supprimer</button>
                    <a href="/">Annuler</a>
                </form>
            </article>
        </div>
    </main>
    
    <!-- le pied de page -->
    <footer>
        <%- include ('../../partials/footer.ejs') %>
    </footer>
</body>
</html>