<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../../partials/head.ejs') %>
</head>
<body>
    <!-- entete de la page -->
    <header>
        <%- include ('../../partials/header.ejs') %>
    </header>
    
    <!-- le navbar de la page -->
    <nav>
        <%- include ('../../partials/nav.ejs') %>
    </nav>
    
    <!-- le contenu -->
    <main>
        <h3><%= title %></h3>
        
        <div>
            <article id="art2">
                <p><%= data.title %></p>
                <p><%= data.description %></p>
                <p><%= data.year %></p>
                <p><%= data.author %></p>
            </article>
        </div>
    </main>
    
    <!-- le pied de page -->
    <footer>
        <%- include ('../../partials/footer.ejs') %>
        <h1>bonjour</h1>
    </footer>
</body>
</html>
